<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chy.webchatserver.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.chy.webchatserver.entity.Menu">
        <id column="id" property="id"/>
        <result column="url" property="url"/>
        <collection property="roles" ofType="com.chy.webchatserver.entity.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
        </collection>
    </resultMap>

    <select id="getAllMenu" resultMap="BaseResultMap">
        select m.*,r.id as rid,r.name as rname from menu m left join menu_role mr
        on m.id=mr.mid left join role r on mr.rid=r.id order by m.id desc
    </select>
</mapper>